.layout {
    display: flex;
    flex-direction: column;
    gap: 1px; /* расстояние между ссылками */
    height: 100%;
    letter-spacing: 0.5px; /* добавили чуть больше пространства между буквами */
}

.layout a {
    color: #dbdee181;
    text-decoration: none;
    padding: 8px 3px;
    border-radius: 8px;
    transition: all 0.1s ease;
    font-size: 17px;
    font-weight: 500;
    display: block;
}

.layout a:hover {
    background-color: #3c3f4584; /* чуть светлее фон при наведении */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.025); /* тень при наведении */
}