.layout {
    display: grid;
    grid-template-columns: 200px 1fr;  /* 200px — navbar, остальное — контент */
    grid-template-rows: 50px 1fr;      /* 50px — хэдер, остальное — основа */
    grid-template-areas:
        "h h"
        "n m";   
    height: 100vh; /* на весь экран */
    background: #2b2d31;
}

.header {
    grid-area: h;
    background:#313338;
    padding: 1rem;
    border-bottom: 1px solid #1e1f22; /* лёгкая тень*/
}

.nav {
    grid-area: n;
    background:  #1e1f229c;
    padding: 1rem;
}

.main {
    grid-area: m;
    padding: 1rem;
    background: #2b2d31;
}